AuctionClient/xml-resources/web-service-references/WebAuction/wsdl/localhost_8080/WebAuction.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://web/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://web/" name="AuctionService">
<types>
<xsd:schema>
<xsd:import namespace="http://web/" schemaLocation="http://localhost:8080/WebAuction?xsd=1"></xsd:import>
</xsd:schema>
</types>
<message name="getItem">
<part name="parameters" element="tns:getItem"></part>
</message>
<message name="getItemResponse">
<part name="parameters" element="tns:getItemResponse"></part>
</message>
<message name="findItemByDescription">
<part name="parameters" element="tns:findItemByDescription"></part>
</message>
<message name="findItemByDescriptionResponse">
<part name="parameters" element="tns:findItemByDescriptionResponse"></part>
</message>
<message name="revokeItem">
<part name="parameters" element="tns:revokeItem"></part>
</message>
<message name="revokeItemResponse">
<part name="parameters" element="tns:revokeItemResponse"></part>
</message>
<message name="newBid">
<part name="parameters" element="tns:newBid"></part>
</message>
<message name="newBidResponse">
<part name="parameters" element="tns:newBidResponse"></part>
</message>
<message name="cleanDB">
<part name="parameters" element="tns:cleanDB"></part>
</message>
<message name="cleanDBResponse">
<part name="parameters" element="tns:cleanDBResponse"></part>
</message>
<message name="getMoney">
<part name="parameters" element="tns:getMoney"></part>
</message>
<message name="getMoneyResponse">
<part name="parameters" element="tns:getMoneyResponse"></part>
</message>
<message name="offerItem">
<part name="parameters" element="tns:offerItem"></part>
</message>
<message name="offerItemResponse">
<part name="parameters" element="tns:offerItemResponse"></part>
</message>
<message name="getCategory">
<part name="parameters" element="tns:getCategory"></part>
</message>
<message name="getCategoryResponse">
<part name="parameters" element="tns:getCategoryResponse"></part>
</message>
<portType name="Auction">
<operation name="getItem">
<input wsam:Action="http://web/Auction/getItemRequest" message="tns:getItem"></input>
<output wsam:Action="http://web/Auction/getItemResponse" message="tns:getItemResponse"></output>
</operation>
<operation name="findItemByDescription">
<input wsam:Action="http://web/Auction/findItemByDescriptionRequest" message="tns:findItemByDescription"></input>
<output wsam:Action="http://web/Auction/findItemByDescriptionResponse" message="tns:findItemByDescriptionResponse"></output>
</operation>
<operation name="revokeItem">
<input wsam:Action="http://web/Auction/revokeItemRequest" message="tns:revokeItem"></input>
<output wsam:Action="http://web/Auction/revokeItemResponse" message="tns:revokeItemResponse"></output>
</operation>
<operation name="newBid">
<input wsam:Action="http://web/Auction/newBidRequest" message="tns:newBid"></input>
<output wsam:Action="http://web/Auction/newBidResponse" message="tns:newBidResponse"></output>
</operation>
<operation name="cleanDB">
<input wsam:Action="http://web/Auction/cleanDBRequest" message="tns:cleanDB"></input>
<output wsam:Action="http://web/Auction/cleanDBResponse" message="tns:cleanDBResponse"></output>
</operation>
<operation name="getMoney">
<input wsam:Action="http://web/Auction/getMoneyRequest" message="tns:getMoney"></input>
<output wsam:Action="http://web/Auction/getMoneyResponse" message="tns:getMoneyResponse"></output>
</operation>
<operation name="offerItem">
<input wsam:Action="http://web/Auction/offerItemRequest" message="tns:offerItem"></input>
<output wsam:Action="http://web/Auction/offerItemResponse" message="tns:offerItemResponse"></output>
</operation>
<operation name="getCategory">
<input wsam:Action="http://web/Auction/getCategoryRequest" message="tns:getCategory"></input>
<output wsam:Action="http://web/Auction/getCategoryResponse" message="tns:getCategoryResponse"></output>
</operation>
</portType>
<binding name="AuctionPortBinding" type="tns:Auction">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
<operation name="getItem">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="findItemByDescription">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="revokeItem">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="newBid">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="cleanDB">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="getMoney">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="offerItem">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="getCategory">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
</binding>
<service name="AuctionService">
<port name="AuctionPort" binding="tns:AuctionPortBinding">
<soap:address location="http://localhost:8080/WebAuction"></soap:address>
</port>
</service>
</definitions>